<div><form >
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Mobilenumber">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="State">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Country">
    </mat-form-field>
    <button mat-raised-button color="accent">Add details</button>
  </mat-card-content>
  
 
</form>
</div>